{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Меня зовут Артемий Лощенков, я&nbsp;— инженер в области IT. Пулевая стрельба для меня&nbsp;— один из самых любимых видов спорта, которым я занимался около 6&nbsp;лет. Пулевая стрельба развивает сосредоточенность (концентрацию), телесную осознанность, дисциплинированность и уверенность в себе. Именно пулевой стрельбе посвящен данный веб-сайт, который является выпускной работой курса <a href ="https://openedu.ru/course/spbstu/WEBPYT/" target="_blank">«Web&nbsp;2.0 программирование на языке Python»</a>.</p>

{% endblock %}
